.about
{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.about__item
{
    width: 33%;

    position: relative;
    background-color: #95e1d3; 
}

.about__item:hover .about__text
{
    opacity: 1;
}

.about__item:hover .about__img
{
    transform: translate3d(-10px, -10px, 0);
}

.about__item:hover .about__img img
{
    opacity: .1;
}

.about__img
{
    display: block;
    max-width: 100%;
    height: auto;

    background: linear-gradient(to bottom, #f38181, #fce38a);

    transition: transform .1s linear;
}

.about__img img
{
    
    width: 100%;
    display: block;
    transition: opacity .1s linear;
}

.about__text
{
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);

    opacity: 0;
    transition: opacity .1s linear;
}