.works
{
    display: flex;

}

.works__col
{
    flex: 1 1 0;
}

.works__item
{
    position: relative;
    background: linear-gradient(to bottom, #f38181, #fce38a);
}

.works__img
{
    transition: opacity .2s linear;
    display: block;
    max-width: 100%;
    height: auto;
}

.works__item:hover .works__img
{
    opacity: .1;
}

.works__item:hover .works__info
{
    opacity: 1;
}

.works__info
{
    width: 100%;

    padding: 0 15px;

    text-align: center;
    color:#fff;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;

    transform: translate3d(0, -50%, 0);

    opacity: 0;
    transition: opacity .2s linear;
}

.works__icon
{
    width: 55px;
    color: #fff;
}

.works__title
{
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 14px;
    color:#fff;
}

.works__text
{
    font-weight: 300;
    font-style: italic;
    font-size: 15px;
}